:root {
    --cor-padrao: #8f1c14;
    --cor-clara: #cf382d;
    --cor-escura: #5c0c06;
    --cor-borda: #470702;
    --sombra: #dedede;
}

body {
    background-color: var(--cor-padrao);
}

h1 {
    text-shadow: -2px 2px 1.5px var(--sombra);
    text-align: center;
    font-family: 'Audiowide', sans-serif;
    font-size: 55px;
    font-weight: 450;
    padding: 30px;
}

h2 {
    text-shadow: -2px 2px 3px var(--sombra);
    text-align: center;
    font-family: 'Audiowide', sans-serif;
    font-size: 45px;
    background: linear-gradient(to top, var(--cor-padrao), var(--cor-escura));
    padding: 40px;
}

p {
    font-family: 'Montserrat', sans-serif;
}

#main-title {
    background-color: none;
    animation: fade-in 1s;
}

header {
    background-color: #70110a;
    letter-spacing: 3px;
    padding: 20px;
    margin: 12px;
    border: 3px solid var(--cor-borda);
    font-size: 40px;
    font-weight: 700;
}

nav {
    background: linear-gradient(to bottom, var(--cor-padrao), var(--cor-clara));
    text-align: center;
    padding: 10px;
    padding-inline: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding: 3px;
    color: #000;
    border-radius: 5px;
    transition: 0.2s;
}

a:hover {
    color: #fff;
    background-color: #000;
    font-size: 32px;
}

footer {
    background-color: var(--cor-escura);
    color: #fff;
    text-align: center;
    padding: 20px;
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

.extern-element {
    background: linear-gradient(to bottom, var(--cor-padrao), var(--cor-clara));
    vertical-align: middle;
}

#products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 20px;
    justify-content: left;
    margin-top: 10px 0;
    list-style: none;
}

.item {
    align-items: center;
    background-color: var(--cor-escura);
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 225px;
    height: 175px;
    padding: 8px;
    text-align: center;
    transition: transform 0.3s;
}

.item-title {
    font-weight: 600;
}

.item_image {
    height: 75px;
    border-radius: 5px;
}

.item-price {
    color: #000;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    padding: 3px;
    color: #000;
}

legend {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    padding: 3px;
    color: #000;
}

#repository-link {
    margin-top: 25px;
    margin-bottom: 15px
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

}
